<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="content-center">
      <div class="section">
        <form method="POST" enctype="multipart/form-data">
          <h1>Add Item!</h1>
          {%if errors %} {%for err in errors %}
          <p style="color: red">Error: {{ err }}</p>
          {%endfor%} {% endif %}
          <p>
            <label for="name">Name: </label> <br>
            <input name="name" />
          </p>
          <p>
            <label for="price">Price: </label> <br>
            <input type="number" name="price" />
          </p>
          <p>
            <label for="file">Picture: </label> <br>
            <input type="file" name="file" />
          </p>
          <input type="submit" value="Add" style="float: right" />
        </form>
      </div>
    </div>
  </body>
</html>
