<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Document</title>
  </head>
  <body>

    <div class="content-center">
    <div class="section">
      <div>
          <h1>Order Now!</h1>
        <label for="number">Phone Number: </label>
        <input type="hidden" id="name" value="{{ item['item_name'] }}">
        <input type="hidden" id="price" value="{{ item['price'] }}">
        <input type="number" name="number" id="number">
        <button id="orderButton">Order</button>
      </div>

      <img
        class="big-image"
        src=" {{ url_for('static', filename=item['image']) }}"
        height="200"
      />
      <h1 id="status"></h1>
      </div>
    </div>
    <script src="/static/js/app.js"></script>
  </body>
</html>
