<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Document</title>
  </head>
  <body>

    <div class="content-center">
    <div class="section">
      <form method="POST">
          <h1>Order Now!</h1>
        <label for="number">Phone Number: </label>
        <input type="number" name="number">
        <input type="submit" value="Order" />
      </form>

      <img
        class="big-image"
        src=" {{ url_for('static', filename=item['image']) }}"
        height="200"
      />
      </div>
    </div>
  </body>
</html>
